<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
    </head>
    <body>
        <form>
            <label for="name">Name <br> Please enter your full name.</label>
            <br> <input type="text" name="name"/> <br>
            <label for="email">E-Mail <br> Please enter your e-mail address.</label>
            <br> <input type="text" name="email"/> <br>
            <label for="subject">Subject <br> </label>
            <input type="text" name="subject"/> <br>
            <label for="message">Message <br> Please enter the message you want to send.</label>
            <br> <input type="text" name="message"/> <br>
            <input type="submit" value="Send"/>
        </form>
    </body>
</html>